.wrap-dalat-swiper {

    .swiper-button-prev,
    .swiper-button-next {
        color: var(--main-color-gray-dark);
        top: 35%;
        width: 36px;
        height: 36px;
        background: #fff;
        border-radius: 50%;
        font-weight: 700;
        outline: 0;
        transition: background-color 0.2s ease, color 0.2s ease;
        -webkit-user-select: none;
        user-select: none;
        box-shadow: var(--main-box-shadow);

        &::after {
            display: none;
        }
    }

    .swiper-button-prev {
        left: 5px;
    }

    .swiper-button-next {
        right: 5px;
    }

    .swiper-button-prev.swiper-button-disabled,
    .swiper-button-next.swiper-button-disabled {
        opacity: 0;
        cursor: auto;
        pointer-events: none;
    }
}