:root {
    --nav-text-color: #777777;
    --title-text-color: #3D4152;

    --main-border-radius-container: 3px;
    --main-box-shadow: 0 3px 6px rgb(115 125 144 / 25%);

    --main-background-green-light: rgba(161, 203, 70, 0.1);

    --main-color-purple: #b28686;
    --main-color-green: rgb(2 178 144);
    --main-color-white: #FFFFFF;
    --main-color-organ: #FC8019;
    --main-color-yelow: #FFC33C;
    --main-color-pink-light: #FD5473;
    --main-color-gray-light: #E7ECF0;
    --main-color-gray: #d9d9d9;
    --main-color-gray-dark: #595959;

    --main-bg-opacity: 0.85;


}